<div class="container">
    <br>
    <br>
    <form>
        <input
            type="text"
            name="id"
            #id
            placeholder="nombre usuario"
            class="form-control"
            autofocus
        >
        <br>
        <button
         *ngIf="currentUser.id ===''"
            class="btn btn-success btn-block"
            (click)="loggin(id.value)"

        >
            Login
        </button>
        <button
            *ngIf="currentUser.id !==''"
            (click)="back()"
            class="btn btn-danger btn-block"
            style="margin-left: 3px;"
        >
            back
        </button>
    </form>
    <hr>
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="contactForm">
                    <div class="form-group">
                        <textarea
                            type="text"
                            id="description"
                            name="description"
                            #descripcion
                            placeholder="description"
                            class="form-control"
                            formControlName="description"
                        ></textarea>

                    </div>
                    <br>
                    <div class="form-group">
                        <input
                            type="number"
                            id="estimation"
                            name="estimation"
                            #estimacion
                            placeholder="estimation"
                            class="form-control"
                            formControlName="estimation"
                            autofocus
                        >
                    </div>
                    <br>
                    <button
                        *ngIf="currentUser.id === ''"
                        class="btn btn-success btn-block"
                        (click)="createUsuario(descripcion.value,estimacion.value)"
                        type="reset"
                        [disabled]="contactForm.invalid"
                    >
                        Add
                    </button>
                    <br>
                    <div
                        *ngIf="currentUser.id !==''"
                        class="alert alert-primary"
                        role="alert"
                    >
                        <h6>
                            El codigo de login es: {{currentUser.id}}
                        </h6>
                    </div>
                    <button
                        *ngIf="currentUser.id !==''"
                        class="btn btn-success btn-block"
                        (click)="createTask(descripcion.value,estimacion.value)"
                        type="submit"
                        [disabled]="contactForm.invalid"
                    >
                        Add task
                    </button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <h3>Por Hacer</h3>
    <div class="table table-dark offset-md-4">
        <thead>
            <tr>
                <th scope="col">description</th>
                <th scope="col">estimation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of responseUser.task">
                <td>{{task.description}}</td>
                <td>{{task.estimation}}</td>
                <td>
                    <button
                        class="btn btn-outline-success"
                        (click)="completedTask(responseUser.id,task.id)"
                    >
                        listo
                    </button>
                </td>
                <td>
                    <button
                        class="btn btn-outline-danger"
                        (click)="deleteTask(responseUser.id,task.id)"
                    >
                        delete
                    </button>
                </td>
                <td>
                    <button
                        class="btn btn-outline-info"
                        (click)="ngModal(contenido,  responseUser.id,task.id)"
                    >
                        editar
                    </button>
                </td>
            </tr>
        </tbody>
    </div>
    <hr>
    <h3>Finalizadas</h3>
    <div class="table table-dark offset-md-4">
        <thead>
            <tr>
                <th scope="col">description</th>
                <th scope="col">estimation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of responseUser.endTask">
                <td>{{task.description}}</td>
                <td>{{task.estimation}}</td>
                <td>
                    <button
                        class="btn btn-outline-success"
                        (click)="pendingTask(responseUser.id,task.id)"
                    >
                        activar
                    </button>
                </td>

            </tr>
        </tbody>
    </div>
</div>

<ng-template
    #contenido
    let-modal
>
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="contactForm">
                    <div class="form-group">
                        <textarea
                            type="text"
                            name="description"
                            id="description"
                            placeholder="description"
                            class="form-control"
                            autofocus
                            #description
                            formControlName="description"
                        ></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <input
                            type="number"
                            name="estimation"
                            #estimation
                            placeholder="estimation"
                            class="form-control"
                            autofocus
                            formControlName="estimation"
                        >
                    </div>
                    <br>
                    <button
                        class="btn btn-success btn-block"
                        (click)="updateUsuario(description.value, estimation.value)"
                        type="reset"
                        id="btn"
                        [disabled]="contactForm.invalid"
                    >
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>

</ng-template>
