input{
    background-color: #e9ecef;
    width: 100%;
    border-radius: 3rem;
    height: 3rem;
    border: none;
    margin-top: 5px;
}
.d-flex{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    border-radius: 1.5rem;
}
h4{
    border-bottom: 1px solid #e9ecef;
}
.characters{
    display: flex;
    height: 50px;
    border-bottom: 1px solid #e9e9e9;
}
.modal-body{
    display: flex;
    justify-content: space-evenly;
}