<div style="width: 300px; height: 850px; margin-left: 10px;">
    <form>
        <input
            type="text"
            id="search"
            #character
            (keyup)="searchCharacters(character.value)"
            placeholder="Search characters"
        >
    </form>
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">

        <h4>Trends</h4>
        <div
            class="characters"
            *ngFor="let character of characters.slice(0,7)"
        >
            <img
                src={{character.image}}
                (click)="detailCharacter(contenido, character.id) "
                alt
                width="32"
                height="32"
                class="rounded-circle me-2"
                style="cursor: pointer;"
            >
            <strong
                (click)="detailCharacter(contenido, character.id) "
                style="cursor: pointer;"
            >
                {{character.name}}
            </strong>
        </div>
    </div>

</div>

<ng-template
    #contenido
    let-modal
   
>
    <div class="modal-header"  *ngIf="details">
        <h4 class="modal-title">{{details.name}}</h4>
        <button
            class="close"
            aria-label="close"
            type="button"
            (click)="modal.dismiss()"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body"  *ngIf="details">
        <img
            src={{details.image}}
            width="32%"
            height="32%"
            class="rounded-circle me-2"
        >
        <div class="div">
            <h3>features</h3>
            <ul>
                <li>status: {{details.status}}</li>
                <li>species: {{details.species}}</li>
                <li *ngIf="details.type">type: {{details.type}}</li>
                <li>gender: {{details.gender}}</li>
                <li>url: {{details.url}}</li>
                <li>created: {{details.created}}</li>
            </ul>
        </div>
        
    </div>
    <h4 class="modal-title">Characters of the episodes</h4>
    <div class="modal-body" style="display: flex;" *ngFor="let charact of charactersList" >
       <div class="images">
        <img 
        src={{charact.image}}
        class="rounded-circle me-2">
      
       </div>
       <div class="contenido">
        <ul  style="border-bottom: 1px solid rgb(176, 174, 174);">
            <li>name:{{charact.name}}</li>
            <li>type: {{charact.type}}</li>
            <li>dimension: {{charact.type}}</li>
        </ul>
       </div>
    </div>


    <div class="modal-footer">

        <button
            type="button"
            class="btn btn-success"
            (click)="modal.close()"
        >
            Ok!
        </button>
    </div>
</ng-template>

<!-- <div class="modal-body"  >
    <img *ngFor="let charact of charactersEpisodes"
        src={{charact.image}}
        width="10%"
        height="10%"
        class="rounded-circle me-2"
    >
   <!-- <strong>{{charact.name}}</strong> -->
<!-- </div>
<div  style="display: flex;  flex-direction: column; width: 45%;">
    <ul *ngFor="let i of origin">
        <li>name:{{i.name}}</li>
        <li>type: {{i.type}}</li>
        <li>dimension: {{i.dimension}}</li>
    </ul>
</div> --> 