<div class="container">
    <app-navbar></app-navbar>
        <div
            class="d-flex flex-column flex-shrink-0 p-3 bg-light"
            style="width: 550px; height: 850px; margin-left: 10px; border:1px solid rgb(246, 239, 239);"
        >
            
        <div class="home">
            <div class="name">
                <h3>Home</h3>
            </div>
            <div class="tweet">
                <img
                    src="https://github.com/mdo.png"
                    alt
                    width="32"
                    height="32"
                    class="rounded-circle me-2"
                >
                <form >
                    <input size="38" style="width: 24rem; border:none;" placeholder="What´s hapenning?">
                </form>
            </div>
            <div class="options">
                <button class="btn btn-primary">Tweet</button>
            </div>
            <img src="https://Gohan.jpg" alt="">
        </div>
        </div>

        <app-sidebar></app-sidebar>
</div>

